@font-face {
  font-family: 'Georgia';
  src: url('../Fonts/Georgia.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../Fonts/Arial-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../Fonts/Arial-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

/* Reset */
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:where(ul[class]) {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1rem;
  color: var(--color-dark-l);
  background: var(--color-light-xl);
}

a:where([class]) {
  display: inline-flex;
  text-decoration: none;
  transition: color var(--transition-duration);
}

button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

/* Переменные */
:root {
  --color-light-xl: #fff;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: #444;
  --color-dark-3xl: #292929;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;

  --border-radius: 6.25rem;
  --border: 0.125rem solid var(--color-primary);

  --font-family-base: 'Georgia', sans-serif;
  --font-family-additional: 'Arial', sans-serif;

  --container-width: 75rem;
  --container-padding: 5rem clamp(0.625rem, 3.125vw, 2.5rem) 6.25rem;
  --transition-duration: 0.3s;
}

.wrapper {
  padding: var(--container-padding);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  display: flex;
  width: 100%;
}

/* Типографика */
.header-2 {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 2.75rem;
  line-height: 1.3;
}

.header-3 {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 2.19rem;
  line-height: 1.3;
  letter-spacing: 0.06em;
}

.header-4 {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.15;
  letter-spacing: 0.06em;
}

.header-5 {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 0.94rem;
  line-height: 1.1;
}

.paragraph-l {
  font-family: var(--font-family-additional);
  font-size: 0.94rem;
  line-height: 1.6;
}

.paragraph-s {
  font-family: var(--font-family-additional);
  font-style: italic;
  font-size: 0.75rem;
  line-height: 1.5;
}

/* Кнопки */
.button-primary,
.button-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 0.94rem 2.81rem;
  border-radius: var(--border-radius);
  font-size: 1.06rem;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  transition-duration: var(--transition-duration);
}

.button-primary {
  background-color: var(--color-primary);
}

@media (any-hover: hover) {
  .button-primary:hover {
    background-color: var(--color-primary-light);
  }
}

.button-secondary {
  border: var(--border);
}
