.intro {
  background: url(../Pictures/start-screen-gradient-background.png) no-repeat;
  background-size: cover;
  background-position: center top;
}

.intro.wrapper {
  padding-block: 30px 0;
}

.intro .container {
  flex-direction: column;
  gap: 90px;
}

/* =============== Header styles start =================== */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo styles start */

.header-logo {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: center;
}

.logo-title {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.1;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}

.logo-subtitle {
  font-family: var(--font-family-additional);
  font-weight: 400;
  font-size: 0.8125rem;
  letter-spacing: 0.1em;
  color: var(--color-light-xl);
}
/* logo styles end */

/* nav styles start */
.header-menu-list {
  display: flex;
  column-gap: 35px;
  list-style: none;
  color: var(--color-dark-s);
}

.header-menu-link {
  color: var(--color-dark-s);
}

.header-menu-link.is-current {
  color: var(--color-light-s);
  border-bottom: 3px solid var(--color-primary);
}

.header-burger-menu {
  display: none;
  flex-direction: column;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  row-gap: 10px;
}

.header-burger-menu-line {
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
}
/* nav styles end */
/* =============== Header styles end ===================== */

/* ============ not_only styles start ==================== */
.not_only {
  display: flex;
  justify-content: space-between;
}

.not_only-content {
  margin-top: 163px;
  max-width: 460px;
  display: flex;
  flex-direction: column;
  row-gap: 42px;
}

.not_only-title {
  color: var(--color-light-xl);
}

.not_only-text {
  color: var(--color-dark-s);
}

.not_only-img {
  max-width: 100%;
  transform: translate(19px, -23px);
}
/* ============ not_only ctyles end ====================== */

/* ============= about ctyles start ====================== */
.about .container {
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.about-content {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: justify;
}
/* ============= about ctyles end ======================== */

/* =========== our friend ctyles start =================== */
.our_friend {
  background: var(--color-light-l);
}

.our_friend .container {
  gap: 60px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.our_friend-slider {
  width: 100%;
  display: flex;
  gap: clamp(30px, -52.09px + 8.21vw, 53px);
  align-items: center;
}

.our_friend-slider-button {
  width: 52px;
  height: 52px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.our_friend-slider-cards_container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  gap: 60px;
}

.our_friend-slider-card {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: var(--color-light-s);
  border-radius: 9px;
  overflow: hidden;
}

/* =========== our friend ctyles end ===================== */

/* =============== help ctyles start ===================== */
.help {
  background: var(--color-light-xl);
}

.help .container {
  gap: 60px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.help-list {
  max-width: 1029px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px 120px;
}

.help-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
/* ================ help ctyles end ====================== */

/* ============== donate ctyles start ==================== */
.donation {
  background: var(--color-light-l);
}

.donation.wrapper {
  padding-inline: 20px;
}

.donation-container {
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.donation-content {
  max-width: 23.75rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.donation-text {
  color: var(--color-dark-m);
}

.donation-button {
  position: relative;
  padding-block: 0.63rem;
  padding-inline: 3.75rem 0.94rem;
  background: var(--color-primary);
  border-radius: 0.5rem;
  font-size: clamp(0.94rem, 1.12vw + 0.71rem, 1.25rem);
  color: var(--color-dark-l);
}

.donation-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 15px;
  width: 1.88rem;
  height: 1.44rem;
  background-image: url(../Pictures/icons/credit-card.svg);
  translate: 0 -50%;
}
/* =============== donate ctyles end ===================== */

/* ============== footer ctyles start ==================== */
.footer {
  background: url(../Pictures/start-screen-gradient-background.png) no-repeat;
  background-size: cover;
  background-position: center top;
  color: var(--color-primary);
}

.footer.wrapper {
  padding-inline: 2.5rem;
  padding-block: 2.5rem 0;
}

.footer .container {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3.75rem;
}

.footer-contacts,
.footer-addresses {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 1rem;
}

.footer-contacts,
.footer-contacts > * {
  row-gap: 2.5rem;
}

.footer-addresses,
.footer-addresses > * {
  row-gap: 2.0625rem;
}

.footer-contacts-title,
.footer-addresses-title {
  width: min(17.5rem,100%);
  color: var(--color-light-xl);
}

.footer-contacts-list,
.footer-addresses-list {
  display: flex;
  flex-direction: column;
}

.footer-contacts-item,
.footer-addresses-item {
  display: flex;
  column-gap: 1.25rem;
}
/* =============== footer ctyles end ===================== */

@media (max-width: 1100px) {
  /* intro */
  .intro .container {
    align-items: center;
    gap: clamp(60px, -20px + 10vw, 90px);
  }
  .not_only {
    max-width: 569px;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  .not_only-content {
    margin-top: 0;
  }
  .not_only-content .button-primary {
    align-self: center;
  }
  .not_only-img {
    transform: translate(0, 0);
    margin-left: clamp(70px, -45.66px + 15.06vw, 120px);
  }

  /* help */
  .help-list {
    max-width: 39.38rem;
    column-gap: 3.75rem;
  }
  .help-list-item {
    width: 10.62rem;
  }

  /* footer */
  .footer .container {
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  /* .our_friend */
  .our_friend-slider {
    gap: clamp(13px, -208.8px + 28.88vw, 80px);
  }
  .our_friend-slider-card:nth-child(3) {
    display: none;
  }

  /* about */
  .about .container {
    flex-direction: column;
    gap: clamp(42px, 14.87px + 8.48vw, 80px);
  }
  .about-img-wrapper {
    order: 1;
  }

  /* bonation */
  .donation .container {
    flex-direction: column;
  }
  .donation-img-container {
    order: 1;
  }
}

@media (max-width: 800px) {
  /* intor */
  .not_only-img {
    width: clamp(260px, 39.31px + 68.97vw, 569px);
  }
}

@media (max-width: 768px) {
  /* intro */
  .intro .container {
    align-items: center;
  }
  .not_only {
    flex-direction: column;
  }
  .not_only-img {
    margin-left: clamp(40px, 18.56px + 6.7vw, 70px);
  }

  /* donation */
  .donation-text {
    text-align: justify;
  }
}

@media (max-width: 720px) {
  /* intro */
  .header-menu {
    display: none;
  }
  .header-burger-menu {
    display: flex;
  }

  /* our_friend */
  .our_friend-slider {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    justify-items: center;
    row-gap: 1.25rem;
  }
  .our_friend-slider-cards_container {
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-content: center;
  }
  .our_friend-slider-card:nth-child(2) {
    display: none;
  }

  /* help */
  .help-list {
    max-width: 18.13rem;
    justify-content: start;
    gap: 1.88rem;
  }
  .help-list-item {
    width: 8.12rem;
    row-gap: 1.25rem;
  }
  .help-item-title {
    font-size: 0.94rem;
    line-height: 1.1;
  }

  /* footer */
  .footer.wrapper {
    padding-inline: 0.625rem;
    padding-block: 1.875rem 0;
  }
  .footer-contacts,
  .footer-contacts > *,
  .footer-addresses,
  .footer-addresses > * {
    row-gap: 2.5rem;
    padding: 0;
  }
}

@media (max-width: 600px) {
  /* intro */
  .not_only-content {
    text-align: center;
  }

  /* base */
  .wrapper {
    padding-block: 42px;
  }
}

@media (max-width: 400px) {
  /* intro */
  .not_only-title {
    font-size: clamp(1.56rem, -3.2rem + 23.8vw, 2.75rem);
    letter-spacing: 0.06em;
  }

  /* base */
  .header_3 {
    font-size: clamp(1.56rem, -15.36px + 12.6vw, 2.19rem);
    text-align: center;
  }

  /* about */
  .about-img {
    width: clamp(260px, 40px + 68.75vw, 315px);
  }

  /* datation */
  .donation-content {
    text-align: center;
    align-items: center;
  }
}
